altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
macholib==1.16.3
packaging==24.0
pygame==2.5.2
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
pynput==1.7.6
pyobjc-core==10.2
pyobjc-framework-ApplicationServices==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-CoreText==10.2
pyobjc-framework-Quartz==10.2
requests==2.31.0
setuptools==69.5.1
six==1.16.0
urllib3==2.2.1
